<table class="table table-sm" *ngFor="let speeldag of speeldagen">
  <thead>
    <tr>
      <th scope="col" colspan="3">{{speeldag.datum}}</th>
    </tr>
  </thead>
  <tbody>
    <tr class="gray-background">
      <td colspan="3">
        <app-wedstrijden-card [wedstrijden]="speeldag.eigenWedstrijden"></app-wedstrijden-card>
      </td>
    </tr>
    <tr>
      <ul class="list-group">
        <li class="list-group-item" [ngClass]="{'list-group-item-warning': speeltijd.isMogelijk === null, 
            'list-group-item-danger': speeltijd.isMogelijk === false, 'list-group-item-success': speeltijd.isMogelijk === true}"
          *ngFor="let speeltijd of speeldag.speeltijden">
          <form>
            <div class="form-row">
              <div class="col" style="line-height: 38px;">
                {{speeltijd.tijd}}
              </div>
              <div class="col" style="max-width:115px;">
                <app-aanwezigheid (updateAanwezigheid)="UpdateFluitBeschikbaarheid($event, speeldag.date, speeltijd.time)"
                  [aanwezigheid]="speeltijd.beschikbaarheid"></app-aanwezigheid>
              </div>

              <div class="bg-light text-dark rounded m-1" *ngFor="let wedstrijd of speeltijd.wedstrijden">
                <app-wedstrijd [wedstrijd]="wedstrijd"></app-wedstrijd>
              </div>
            </div>
          </form>
        </li>
      </ul>
    </tr>
    <tr class="gray-background">
      <td colspan="3"></td>
    </tr>
  </tbody>
</table>
<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
  {{errorMessage}}
</div>
<app-spinner *ngIf="loading"></app-spinner>