<table class="table table-sm " *ngFor="let wedstrijd of wedstrijden">
  <thead>
    <tr>
      <th scope="col" colspan="2">{{wedstrijd.datum}}, {{wedstrijd.tijd}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <app-wedstrijd [wedstrijd]="wedstrijd"></app-wedstrijd>
        <div>
          <app-spelers-lijst *ngIf="wedstrijd.aanwezigen.length > 0" [spelers]="wedstrijd.aanwezigen" title="Aanwezigen"
            class="alert-success"></app-spelers-lijst>

          <app-spelers-lijst *ngIf="wedstrijd.onbekend.length > 0"[spelers]="wedstrijd.onbekend" title="Onbekend" class="alert-warning"></app-spelers-lijst>

          <app-spelers-lijst *ngIf="wedstrijd.afwezigen.length > 0"[spelers]="wedstrijd.afwezigen" title="Afwezigen" class="alert-danger"></app-spelers-lijst>
        </div>
      </td>
    </tr>
    <tr class="gray-background">
      <td colspan="3">
        <app-meespeel-teams [teams]="wedstrijd.meespeelTeams"></app-meespeel-teams>
      </td>
    </tr>
  </tbody>
</table>