<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <title>Teamoverzicht</title>
  </head>
  <body>
    <div id="team-overzicht">
      <div class="list-group">
        <div href="#" class="list-group-item active" style="display: flex;">
          <h4>{{ team.naam }}</h4>
        </div>
        <div href="#" class="list-group-item">
          Niveau:
          <a rel="noopener noreferrer" target="_blank">team.niveau</a>
        </div>
        <div href="#" class="list-group-item">Trainer: {{ team.trainers }}</div>
        <div href="#" class="list-group-item">
          Trainingstijden: {{ team.trainingstijden }}
        </div>
        <div href="#" class="list-group-item">Coaches: {{ team.coaches }}</div>
        <div href="#" class="list-group-item">
          <a style="color: #337ab7;" target="_blank" v-bind:href="team.facebook"
            ><i class="fa fa-2x fa-facebook-official"></i
          ></a>
        </div>
      </div>
      <div id="one">
        <div class="panel panel-primary">
          <div class="panel-heading">Stand ({{ team.poule }})</div>
          <table class="table">
            <caption></caption>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Team</th>
                <th scope="col">W</th>
                <th scope="col">P</th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="team.standen">
                Nog geen uitslagen
              </tr>
              <tr v-for="stand in team.standen">
                <td>{{ stand.nummer }}</td>
                <td>{{ stand.team.naam }}</td>
                <td>{{ stand.aantalWedstrijden }}</td>
                <td>{{ stand.punten }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div id="two">
        <div class="panel panel-primary">
          <div class="panel-heading">Uitslagen</div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Wedstrijd</th>
                <th scope="col">Uitslag</th>
                <th scope="col">Setstanden</th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="team.uitslagen.length == 0">
                Nog geen uitslagen
              </tr>
              <tr v-for="wedstrijd in team.uitslagen">
                <td>{{ wedstrijd.teams }}</td>
                <td>{{ wedstrijd.uitslag }}</td>
                <td>{{ wedstrijd.setstanden }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">Programma</div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Dag</th>
                <th scope="col">Tijd</th>
                <th scope="col">Wedstrijd</th>
                <th scope="col">Locatie</th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="team.programma == null">
                Geen programma
              </tr>
              <tr v-for="wedstrijd in team.programma">
                <td>{{ wedstrijd.datum }}</td>
                <td>{{ wedstrijd.tijd }}</td>
                <td>{{ wedstrijd.teams }}</td>
                <td>{{ wedstrijd.locatie }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
  <script>
    var url = window.location.href;
    var urlParts = url.split("/");
    var teamnaam = urlParts[urlParts.length - 1];
    const params = {
      teamnaam: teamnaam
    };
    axios("/team-portal/api/website/teamoverzicht", { params: params }).then(
      function(response) {
        console.log(response.data);
        new Vue({
          el: "#team-overzicht",
          data() {
            return {
              team: response.data
            };
          }
        });
      }
    );
  </script>
</html>
