<table class="table table-sm" *ngFor="let speeldag of speeldagen">
  <thead>
    <tr>
      <th scope="col" colspan="3">{{speeldag.datum}}</th>
    </tr>
  </thead>
  <tbody>
    <tr class="gray-background">
      <td colspan="3">
        <app-wedstrijden-card [wedstrijden]="speeldag.eigenWedstrijden"></app-wedstrijden-card>
      </td>
    </tr>
    <tr *ngFor="let speeltijd of speeldag.speeltijden">
      <th scope="row">{{speeltijd.tijd}}</th>
      <td>
        <div class="border border-secondary rounded m-1" *ngFor="let wedstrijd of speeltijd.wedstrijden">
          <app-wedstrijd [wedstrijd]="wedstrijd"></app-wedstrijd>
        </div>

      </td>
      <td>
        <app-beschikbaarheid [beschikbaarheid]="speeltijd.beschikbaarheid"></app-beschikbaarheid>
      </td>
    </tr>
    <tr class="gray-background">
      <td colspan="3"></td>
    </tr>
  </tbody>
</table>