<div>
    <!-- Replace below with actual data structure -->
    <h3>🍺SKC Fustcompetitie </h3>
    <p>Welke teams staan 1e in hun poule en winnen een fust aan het eind van dit competitiejaar? 🍺 </p>
    <div class="table-responsive">
        <table *ngIf="skcRankingData; else loading" class="table table-sm table-striped">
            <thead>
                <tr>
                    <th scope="col">Ranking in eigen poule</th>
                    <th scope="col">Teamnaam</th>
                    <th scope="col">Niveau</th>
                    <th scope="col">Wedstrijden</th>
                    <th scope="col">Punten</th>
                    <th scope="col">Sets voor</th>
                    <th scope="col">Sets tegen</th>
                    <th scope="col">Punten voor</th>
                    <th scope="col">Punten tegen</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of skcRankingData['verenigings_standen']">
                    <td><a href="https://www.volleybal.nl/competitie/vereniging/ckl9r53/{{item.Teamnaam.replace('SKC DS ', 'dames/').replace('SKC HS ', 'heren/')}}#ranking"> {{ item.Ranking | number }}e</a> <span *ngIf="item.Ranking === 1"> 🍺</span></td>
                    <td><a href="https://www.skcvolleybal.nl/team/{{item.Teamnaam.replace('SKC DS ', 'dames-').replace('SKC HS ', 'heren-')}}">{{ item.Teamnaam.replace('SKC DS', 'Dames').replace('SKC HS', 'Heren') }}</a></td>    
                    <td>{{ item.Niveau  }}</td>
                    <td>{{ item.Wedstrijden | number  }}</td>
                    <td>{{ item.Punten | number  }}</td>
                    <td>{{ item.Sets_voor | number  }}</td>
                    <td>{{ item.Sets_tegen | number  }}</td>
                    <td>{{ item.Punten_voor | number  }}</td>
                    <td>{{ item.Punten_tegen | number  }}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td scope="col" sortable="Ranking" (sort)="onSort($event)">Ranking in eigen poule</td>
                    <td scope="col">Teamnaam</td>
                    <td scope="col">Niveau</td>
                    <td scope="col">Wedstrijden</td>
                    <td scope="col">Punten</td>
                    <td scope="col">Sets voor</td>
                    <td scope="col">Sets tegen</td>
                    <td scope="col">Punten voor</td>
                    <td scope="col">Punten tegen</td>
                </tr>
              </tfoot>
        </table>
    </div>
    <p *ngIf="skcRankingData" class="text-center"><i>Data opgehaald via: <a href="https://www.volleybal.nl/competitie/vereniging/ckl9r53#ranking">https://www.volleybal.nl/competitie/vereniging/ckl9r53#ranking</a></i></p>

    <h3>🏆SKC Teamtaken competitie </h3>
    <p>Welke SKC'er is een echte teamtaken strijder?</p>

    <!-- Wrap the columns inside a row -->
    <div class="row">
        <div class="col-md-6">
            <h4>🍺Bar</h4>
            <div class="table-responsive">
                <table *ngIf="skcRankingData; else loading" class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Naam</th>
                            <th scope="col">Aantal barshifts</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of skcRankingData['bar_personnel_shifts']">
                            <td>{{ item.display_name }}</td>
                            <td>{{ item.shift_count | number  }}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td scope="col">Naam</td>
                            <td scope="col">Aantal barshifts</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <div class="col-md-6">
            <h4>🏁Scheidsrechters</h4>
            <div class="table-responsive">
                <table *ngIf="skcRankingData; else loading" class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Naam</th>
                            <th scope="col">Aantal fluitbeurten</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of skcRankingData['scheidsrechter_shifts']">
                            <td>{{ item.display_name }}</td>
                            <td>{{ item.shift_count | number  }}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td scope="col">Naam</td>
                            <td scope="col">Aantal fluitbeurten</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <!-- Another row for the next two columns -->
    <div class="row">
        <div class="col-md-6">
            <h4>🔢Tellers</h4>
            <div class="table-responsive">
                <table *ngIf="skcRankingData; else loading" class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Naam</th>
                            <th scope="col">Aantal telbeurten</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of skcRankingData['teller_shifts']">
                            <td>{{ item.display_name }}</td>
                            <td>{{ item.shift_count | number  }}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td scope="col">Naam</td>
                            <td scope="col">Aantal telbeurten</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <div class="col-md-6">
            <h4>🚑BHV</h4>
            <div class="table-responsive">
                <table *ngIf="skcRankingData; else loading" class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Naam</th>
                            <th scope="col">Aantal BHV diensten</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of skcRankingData['bhv_shifts']">
                            <td>{{ item.display_name }}</td>
                            <td>{{ item.shift_count | number  }}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td scope="col">Naam</td>
                            <td scope="col">Aantal BHV diensten</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<teamportal-spinner *ngIf="loading"></teamportal-spinner>
