<div
  class="btn-group btn-group-toggle"
  ngbRadioGroup
  name="radioBasic"
  [ngModel]="keuze"
>
  <label
    ngbButtonLabel
    [ngClass]="{ 'btn-success': keuze === true, 'btn-light': keuze !== true }"
  >
    <fa-icon [icon]="jaIcon"></fa-icon>
    <input ngbButton type="radio" value="Ja" (click)="onClick(true)" />
  </label>
  <label
    ngbButtonLabel
    [ngClass]="{ 'btn-warning': keuze === null, 'btn-light': keuze !== null }"
  >
    <fa-icon [icon]="onbekendIcon"></fa-icon>
    <input ngbButton type="radio" value="Onbekend" (click)="onClick(null)" />
  </label>
  <label
    ngbButtonLabel
    [ngClass]="{ 'btn-danger': keuze === false, 'btn-light': keuze !== false }"
  >
    <fa-icon [icon]="neeIcon"></fa-icon>
    <input ngbButton type="radio" value="Nee" (click)="onClick(false)" />
  </label>
</div>
