<div class="d-flex justify-content-start keuze-container">
  <!-- Ja Button -->
  <button [ngClass]="{'btn-success': keuze === true, 'btn-light': keuze !== true, 'btn': true}"
          (click)="onClick(true)"
          class="me-2">
    <fa-icon [icon]="jaIcon"></fa-icon>
  </button>

  <!-- Onbekend Button -->
  <button [ngClass]="{'btn-warning': keuze === null, 'btn-light': keuze !== null, 'btn': true}"
          (click)="onClick(null)"
          class="me-2">
    <fa-icon [icon]="onbekendIcon"></fa-icon>
  </button>

  <!-- Nee Button -->
  <button [ngClass]="{'btn-danger': keuze === false, 'btn-light': keuze !== false, 'btn': true}"
          (click)="onClick(false)">
    <fa-icon [icon]="neeIcon"></fa-icon>
  </button>
</div>
