<ul class="list-group">
  <li class="list-group-item" [ngClass]="{'list-group-item-warning': wedstrijd.isMogelijk === 'Ja', 
      'list-group-item-danger': wedstrijd.isMogelijk === 'Nee', 'list-group-item-success': wedstrijd.isMogelijk === 'Misschien'}"
    *ngFor="let wedstrijd of wedstrijden">
    <app-wedstrijd [wedstrijd]="wedstrijd"></app-wedstrijd>
    <div style="font-size: 12px;" class="card-subtitle mb-2 text-muted">
      {{wedstrijd.tijd}}, {{wedstrijd.locatie}}
    </div>
    <p class="card-text" *ngIf="wedstrijd.isScheidsrechter">
      <app-scheidsrechter [isScheidsrechter]="wedstrijd.isScheidsrechter" [scheidsrechter]="wedstrijd.scheidsrechter"></app-scheidsrechter>
    </p>
  </li>
</ul>