<ul class="list-group">
  <li class="list-group-item" [ngClass]="{
    'list-group-item-warning': wedstrijd.isMogelijk == 'Onbekend', 
    'list-group-item-danger': wedstrijd.isMogelijk == 'Nee', 
    'list-group-item-success': wedstrijd.isMogelijk == 'Ja'
  }"
    *ngFor="let wedstrijd of wedstrijden">
    <teamportal-wedstrijd [wedstrijd]="wedstrijd"></teamportal-wedstrijd>
    <div style="font-size: 12px;" class="card-subtitle mb-2 text-muted">
      {{wedstrijd.tijd}}, {{wedstrijd.locatie}}
    </div>
    <p class="card-text" *ngIf="wedstrijd.isScheidsrechter">
      <teamportal-scheidsrechter [isScheidsrechter]="wedstrijd.isScheidsrechter" [scheidsrechter]="wedstrijd.scheidsrechter"></teamportal-scheidsrechter>
      <teamportal-tellers [isTellers]="wedstrijd.isTellers" [tellers]="wedstrijd.tellers"></teamportal-tellers>{{wedstrijd.tellers}}
    </p>
  </li>
</ul>
