<div class="modal-header">
  <h6>{{ teams }}, {{ tijd }}</h6>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="modal.dismiss()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body" style="min-height: 500px;">
  <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
  <teamportal-spinner *ngIf="scheidsrechterOptiesLoading"></teamportal-spinner>

  <div *ngIf="scheidsrechterOptiesLoading == false">
    <div
      class="card mb-3"
      *ngFor="let scheidsrechterstype of scheidsrechtertypes"
    >
      <div class="card-header">
        {{ GetRegularCasing(scheidsrechterstype) }}
      </div>
      <ul class="list-group list-group-flush" *ngFor="let keuze of keuzes">
        <li class="list-group-item">{{ keuze }}</li>
        <li class="list-group-item">
          <div
            class="input-group mb-3"
            *ngFor="
              let scheidsrechter of getScheidsrechtersByKeuze(
                scheidsrechterstype,
                keuze
              )
            "
          >
            <button
              type="button"
              (click)="UpdateScheidsrechter(scheidsrechter.naam)"
              class="btn btn-block"
              [ngClass]="GetClass(scheidsrechter)"
            >
              {{ GetScheidsrechterText(scheidsrechter) }}
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
