<p>Geef hier je tel/fluitbeschikbaarheid op voor komende periode. De teamtakencoördinator van dit seizoen zal hiermee rekening houden in de planning. </p>
<br>
<table class="table table-sm" *ngFor="let speeldag of speeldagen">
  <thead>
    <tr>
      <th scope="col" colspan="3">{{ speeldag.datum_long }}</th>
    </tr>
  </thead>
  <tbody>
    <tr class="gray-background">
      <td colspan="3">
        <teamportal-wedstrijden-card
          [wedstrijden]="speeldag.eigenWedstrijden"
        ></teamportal-wedstrijden-card>
      </td>
    </tr>
    <tr>
      <ul class="list-group">
        <li
          class="list-group-item"
          [ngClass]="{
            'list-group-item-warning': speeltijd.isMogelijk === null,
            'list-group-item-danger': speeltijd.isMogelijk === false,
            'list-group-item-success': speeltijd.isMogelijk === true
          }"
          *ngFor="let speeltijd of speeldag.speeltijden"
        >
          <form>
            <div class="form-row">
              <div class="col" style="line-height: 38px;">
                {{ speeltijd.tijd }}
              </div>
              <div class="col" style="max-width:115px;">
                <teamportal-keuze
                  (updateKeuze)="
                    UpdateFluitBeschikbaarheid(
                      $event,
                      speeldag.date,
                      speeltijd.tijd
                    )
                  "
                  [keuze]="speeltijd.isBeschikbaar"
                ></teamportal-keuze>
              </div>
            </div>
            <div>
              <table>
                <tbody>
                  <tr *ngFor="let wedstrijd of speeltijd.wedstrijden">
                    <td class="bg-light d-inline-flex text-dark rounded m-1">
                      <teamportal-wedstrijd
                        [wedstrijd]="wedstrijd"
                      ></teamportal-wedstrijd>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </li>
      </ul>
    </tr>
    <tr class="gray-background">
      <td colspan="3"></td>
    </tr>
  </tbody>
</table>
<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
  {{ errorMessage }}
</div>
<teamportal-spinner *ngIf="loading"></teamportal-spinner>
