<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Wedstrijd</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let wedstrijd of wedstrijden">
      <td>
        <div>
          {{wedstrijd.datum}}
        </div>
        <div>
          {{wedstrijd.tijd}}
        </div>
      </td>
      <td>
        <app-wedstrijd [wedstrijd]="wedstrijd"></app-wedstrijd>
      </td>
      <td>
        <app-beschikbaarheid [beschikbaarheid]="wedstrijd.beschikbaarheid"></app-beschikbaarheid>
      </td>
    </tr>
  </tbody>
</table>