<table class="table table-sm" *ngFor="let wedstrijd of wedstrijden">
  <thead>
    <tr>
      <th colspan="3" scope="col">
        {{wedstrijd.datum}}, {{wedstrijd.tijd}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <app-wedstrijd [wedstrijd]="wedstrijd"></app-wedstrijd>
      </td>
      <td>
        <app-beschikbaarheid [beschikbaarheid]="wedstrijd.beschikbaarheid"></app-beschikbaarheid>
      </td>
    </tr>
    <tr class="gray-background">
      <td colspan="2"></td>
    </tr>
  </tbody>
</table>