<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
  {{ errorMessage }}
</div>

<form [formGroup]="statistiekForm" class="card-text" [hidden]="isLoading">
  <div class="card mb-3 card-width" *ngIf="statistieken">
    <div class="card-header">Langste servicereeksen van SKC</div>
    <div class="card-body">
      <ul class="list-group">
        <li *ngFor="let reeks of statistieken.servicereeksen"
          class="list-group-item d-flex justify-content-between align-items-center">
          {{ GetReeksText(reeks) }}
          <span class="badge badge-success badge-pill">{{
            reeks.services
          }}</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="card mb-3 card-width">
    <div class="card-body">
      <select formControlName="geselecteerdeWedstrijd" class="wedstrijd-select">
        <option value="">Alle wedstrijden</option>
        <option [value]="wedstrijd.matchId" *ngFor="let wedstrijd of wedstrijden">
          {{ wedstrijd.team1 + ' - ' + wedstrijd.team2 }}
        </option>
      </select>
    </div>
  </div>

  <div class="card mb-3 card-width">
    <div class="card-header">Gespeelde punten per persoon</div>
    <div class="card-body">
      <p class="card-text">
        <canvas id="aantalGespeeldePunten"></canvas>
      </p>
    </div>
  </div>

  <div class="card mb-3 card-width">
    <div class="card-header">Punten per rotatie</div>
    <div class="card-body">
      <div class="card-text">
        <div class="btn-group btn-group-toggle spel-systeem" ngbRadioGroup name="radioBasic"
          formControlName="spelsysteem" *ngIf="statistieken?.spelsystemen?.length > 1">
          <label ngbButtonLabel class="btn-primary" *ngFor="let spelsysteem of statistieken.spelsystemen">
            <input ngbButton type="radio" [value]="spelsysteem.type" />
            {{ spelsysteem.type }}
          </label>
        </div>

        <div class="btn-group btn-group-toggle formbuttons" ngbRadioGroup name="radioBasic"
          formControlName="rotatiekeuze">
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" value="puntenPerRotatie" /> Totaal
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" value="puntenPerRotatieEigenService" />
            Eigen service
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" value="puntenPerRotatieServiceontvangst" />
            Service-ontvangst
          </label>
        </div>
      </div>

      <canvas id="puntenPerRotatie"></canvas>
    </div>
  </div>

  <div class="card mb-3 card-width">
    <div class="card-header">Services per persoon</div>
    <div class="card-body">
      <canvas id="servicesPerPersoon"></canvas>
    </div>
  </div>

  <div class="card mb-3 card-width">
    <div class="card-header">Plusminus per persoon</div>
    <div class="card-body">
      <div class="card-text">
        <div class="btn-group btn-group-toggle formbuttons" ngbRadioGroup name="radioBasic"
          formControlName="plusminusType">
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" value="totaal" />
            Totaal
          </label>

          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" value="voor" />
            Voor
          </label>
        </div>
      </div>

      <canvas id="plusminusPerPersoon"></canvas>
    </div>
  </div>
</form>
<teamportal-spinner *ngIf="isLoading"></teamportal-spinner>