.spel-systeem {
  width: 100%;
  padding: 20px 10px 5px 10px;
}

.card-width {
  max-width: 40rem;
  margin: auto;
}

.rotatiekeuze {
  width: 100%;
  padding: 5px 10px 20px 10px;
}

.wedstrijd-select {
  width: 300px;
  margin: auto;
  display: block;
}
