<div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="aanwezigheid">
  <label ngbButtonLabel [ngClass]="{'btn-success': aanwezigheid === 'Ja', 'btn-light': aanwezigheid !== 'Ja'}">
    <fa-icon [icon]="jaIcon"></fa-icon>
    <input ngbButton type="radio" value="Ja" (click)="onClick('Ja')">
  </label>
  <label ngbButtonLabel [ngClass]="{'btn-warning': aanwezigheid === 'Misschien', 'btn-light': aanwezigheid !== 'Misschien'}">
    <fa-icon [icon]="misschienIcon"></fa-icon>
    <input ngbButton type="radio" value="Misschien" (click)="onClick('Misschien')">
  </label>
  <label ngbButtonLabel [ngClass]="{'btn-danger': aanwezigheid === 'Nee', 'btn-light': aanwezigheid !== 'Nee'}">
    <fa-icon [icon]="neeIcon"></fa-icon>
    <input ngbButton type="radio" value="Nee" (click)="onClick('Nee')">
  </label>
</div>