
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

  <div class="left">
    <a class="navbar-brand" (click)="toggleNavbar()" style="color: white;">
      <div style="display: flex;">
        SKC TeamPortal
        <div
          style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;"
        >
          <span class="show-title">
            <fa-icon style="margin-left: 0.4rem" [icon]="rightIcon"></fa-icon> {{ GetNavigationTitle() }}
          </span>
        </div>
      </div>
    </a>
  </div>

  <div class="right">
    <button
      class="navbar-toggler collapsed"
      type="button"
      data-toggle="collapse"
      data-target="#navbarColor02"
      aria-controls="navbarColor02"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <ng-template #rt let-r="result" let-t="term">
    <ngb-highlight [result]="r.naam" [term]="t"></ngb-highlight>
  </ng-template>  

  <div
    [ngbCollapse]="isNavbarHidden"
    class="navbar-collapse collapse"
    id="navbarColor02"
  >
  
    <ul class="navbar-nav mr-auto">
      <li
        class="nav-item"
        routerLinkActive="active"
        *ngFor="let appRoute of appRoutes"
        (click)="onLinkClick()"
        [class.hidden]="appRoute.isHidden"
      >
        <a class="nav-link" [routerLink]="appRoute.path">{{
          appRoute.data.title
        }}</a>
      </li>
      <li *ngIf="isWebcie">
        <div class="form-group" style="margin-bottom: 0rem; margin-left: 0.8rem; margin-top: 0.3rem;">
          <input
            (change)="setImpersonation()"
            class="form-control form-control-sm"
            [(ngModel)]="impersonatedUser"
            [inputFormatter]="formatter"
            [ngbTypeahead]="searchUsers"
            placeholder="gebruiker"
            [resultTemplate]="rt"
          />
          <span *ngIf="searching">searching...</span>
          <div class="invalid-feedback" *ngIf="searchFailed">
            Sorry, suggestions could not be loaded.
          </div>
        </div>
      </li>
    </ul>
    <span *ngIf="!isProd" class="badge badge-warning">You're on Test or Localhost 🔧</span>

  </div>
</nav>




<router-outlet></router-outlet>
