@media (min-width: 992px) {
    .show-title {
        display: none !important;
    }
}

.show-title {
    font-size: 15px;
}

.hidden {
    display: none;
}

.bg-notprod {
    background-color: #4b88d8;;
}