<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

  <div class="left">
    <a class="navbar-brand" (click)="toggleNavbar()" style="color: white;">
      <div style="display: flex;">
        TeamPortal
        <div style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
          <span class="show-title">
            <fa-icon [icon]="rightIcon"></fa-icon> {{GetNavigationTitle()}}
          </span>
        </div>

      </div>
    </a>
  </div>

  <div class="right">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02"
      aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>


  <div [ngbCollapse]="isNavbarHidden" class="navbar-collapse collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" (click)="onLinkClick()">
        <a class="nav-link" routerLink="/mijn-overzicht">Mijn Overzicht</a>
      </li>
      <li class="nav-item" routerLinkActive="active" (click)="onLinkClick()">
        <a class="nav-link" routerLink="/wedstrijden">Wedstrijden</a>
      </li>
      <li class="nav-item" routerLinkActive="active" (click)="onLinkClick()">
        <a class="nav-link" routerLink="/wedstrijd-overzicht">Wedstrijd Overzicht</a>
      </li>
      <li class="nav-item" routerLinkActive="active" (click)="onLinkClick()">
        <a class="nav-link" routerLink="/fluit-aanwezigheid">Fluit Aanwezigheid</a>
      </li>
      <li class="nav-item" routerLinkActive="active" (click)="onLinkClick()">
        <a class="nav-link" routerLink="/coach-wedstrijden">Coach Wedstrijden</a>
      </li>
      <li class="nav-item" routerLinkActive="active" (click)="onLinkClick()">
        <a class="nav-link" routerLink="/scheidsco">Scheidsco</a>
      </li>
      <li class="nav-item" routerLinkActive="active" (click)="onLinkClick()">
        <a class="nav-link" routerLink="/statistieken">Statistieken</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>