@media (min-width: 992px) {
  .show-title {
    display: none !important;
  }
}

.show-title {
  font-size: 15px;
}

.hidden {
  display: none;
}

.panel-body {
  background-color: white;
  border-radius: 5px;
  padding: 30px;
  margin-top: 25px;
}

.slide-in {
  animation: drop-in 1s ease 200ms backwards;
}

@keyframes drop-in {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}
