<div *ngIf="!errorMessage && !loading"><p>Team-Portal verzendt automatisch e-mails naar leden met herinneringen om te fluiten, tellen of bardiensten te draaien.</p>
    <p *ngIf="emails.length > 0; else noEmails">Zie onderstaand overzicht voor alle verzonden e-mails tot nu toe.</p>

    <!-- Display this template when there are no emails -->
    <ng-template #noEmails>
        <p>Er zijn momenteel nog geen verzonden e-mails.</p>
    </ng-template>
    
</div>


<teamportal-spinner *ngIf="loading"></teamportal-spinner>


<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
    {{errorMessage}}
  </div>

  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <ng-container *ngFor="let email of emails; let i = index">
        <!-- Insert empty spacer if the day differs from the previous email -->
        <div *ngIf="email.isNewDay" class="w-100"> 
            <h5>{{ email.send_date | date:'fullDate' }}</h5>
        </div>
  
        <div class="col">
          <div class="card clickable">
            <div class="card-body" (click)="onEmailClick(email.id)">
              <h6 class="card-title">{{ email.titel }}</h6>
              <h6 class="card-subtitle mb-2 text-muted">{{ email.receiver_naam }} ({{ email.receiver_email }})</h6>
              <div *ngIf="email.send_date; else inQueue" class="text-success" style="font-weight: 500;">
                <fa-icon [icon]="check"></fa-icon> Verzonden om {{ email.send_date | date:'shortDate' }}
              </div>
              <ng-template #inQueue>
                <div class="text-warning" style="font-weight: 500;">
                  <fa-icon [icon]="exclamation"></fa-icon> In wachtrij
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  