<div *ngIf="!errorMessage && !loading"><p>Team-Portal verzendt automatisch e-mails naar leden met herinneringen om te fluiten, tellen of bardiensten te draaien.</p>
    <p *ngIf="emails.length > 0; else noEmails">Zie onderstaand overzicht voor alle verzonden e-mails tot nu toe.</p>

    <!-- Display this template when there are no emails -->
    <ng-template #noEmails>
        <p>Er zijn momenteel nog geen verzonden e-mails.</p>
    </ng-template>
    
</div>


<teamportal-spinner *ngIf="loading"></teamportal-spinner>


<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
    {{errorMessage}}
  </div>


  <div *ngFor="let email of emails" class="card clickable">
    <div class="card-body" (click)="onEmailClick(email.id)">
        <h5 class="card-title">{{ email.titel }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ email.receiver_naam }} ({{ email.receiver_email }})</h6>
        <td *ngIf="email.send_date else inQueue" class="text-success" style="font-weight: 500;"><fa-icon [icon]="check"></fa-icon> Verzonden om {{ email.send_date }} </td>
        <ng-template #inQueue>
            <td class="text-warning" style="font-weight: 500;"><fa-icon [icon]="exclamation"></fa-icon> In wachtrij</td>
        </ng-template>
        
  </div>
</div>

      <!-- <table *ngIf="emails.length > 0" class="table table-striped">
        <thead>
            <tr>
                <th>Onderwerp</th>
                <th>Ontvanger</th>
                <th>Verzonden</th>
            </tr>
        </thead>
        <tbody>
                <tr *ngFor="let email of emails" (click)="onEmailClick(email.id)" class="clickable-row">
                    <td>{{ email.titel }} </td>
                    <td>{{ email.receiver_naam }} ({{ email.receiver_email }})</td>
                    <td *ngIf="email.send_date else inQueue" class="text-success" style="font-weight: 500;"><fa-icon [icon]="check"></fa-icon> {{ email.send_date }} </td>
                    <ng-template #inQueue>
                        <td class="text-warning" style="font-weight: 500;"><fa-icon [icon]="exclamation"></fa-icon> In wachtrij</td>
                    </ng-template>
                </tr>
        </tbody>
    </table> -->
 
