<div class="modal-header">
  <h6>{{teams}}, {{tijd}}</h6>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body" style="min-height: 500px;">
  <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
    {{errorMessage}}
  </div>
  <app-spinner *ngIf="tellersOptiesLoading"></app-spinner>

  <div *ngIf="tellersOptiesLoading == false">
    <div class="card mb-3" *ngIf="spelendeTeams.length > 0">
      <div class="card-header">
        Spelende Teams
      </div>
      <div class="card-body">
        <div class="input-group mb-3" *ngFor="let team of spelendeTeams">
          <button type="button" (click)="UpdateTellers(team.naam)" class="btn btn-block" [ngClass]="{
            'btn-danger': team.isMogelijk == 'Nee', 
            'btn-success': team.isMogelijk == 'Ja',
            'btn-warning': team.isMogelijk == 'Onbekend'
          }">
            {{team.naam + " (" + team.geteld + ") om " + team.eigenTijd}}
          </button>
        </div>
      </div>
    </div>

    <div class="card mb-3" *ngIf="overigeTeams.length > 0">
      <div class="card-header">
        Overige Teams
      </div>
      <div class="card-body">
        <div class="input-group mb-3" *ngFor="let team of overigeTeams">
          <button type="button" (click)="UpdateTellers(team.naam)" class="btn btn-success btn-block">
            {{team.naam + " (" + team.geteld + ")"}}
          </button>
        </div>
      </div>
    </div>
    <button type="button" (click)="UpdateTellers(null)" class="btn btn-danger btn-lg btn-block">Geen Team</button>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="modal.close()">Close</button>
</div>
