
<p>Hier vul je bardiensten, barkeepers en BHV'ers in.</p>
<br>

<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
  {{errorMessage}}
</div>
<div class="form-row justify-content-center" style="margin:10px;">
  <form class="form-inline" [formGroup]="newDate">
    <div class="input-group">
      <input class="form-control" placeholder="Nieuwe datum" formControlName="date" (ngModelChange)="onDateSelection($event)"
        name="dp" navigation="arrows" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
          <fa-icon [icon]="calendar"></fa-icon>
        </button>
      </div>
    </div>
  </form>
</div>
<table class="table table-sm" style="margin-bottom: 0px;">
  <tr class="gray-background">
    <td></td>
  </tr>
</table>

<table class="table table-sm" *ngFor="let barciedag of barciedagen" style="margin-bottom: 0px;">
  <thead>
    <tr>
      <th scope="col" colspan="3" style="border-bottom: 0px;">{{barciedag.datum_long}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <ul class="list-group barcielist">
        <li class="list-group-item" *ngFor="let barshift of barciedag.shifts">
          <h5 class="card-title">Shift {{barshift.shift}}</h5>
          <div class="row m-1" *ngFor="let barcielid of barshift.barleden">
            <div class="input-group">
              <div class="input-group-prepend">
                <button class="input-group-text" (click)="ToggleBhv(barciedag, barcielid, barshift.shift)">
                  <fa-icon [icon]="barcielid.isBhv ? bhv: geenBhv"></fa-icon>
                </button>
              </div>
              <div class="input-group-append">
                <button class="btn btn-success" type="button">
                  {{barcielid.naam}}
                </button>
              </div>
              <div class="input-group-append">
                <button class="input-group-text" (click)="DeleteAanwezigheid(barciedag, barcielid, barshift.shift)">
                  <fa-icon [icon]="delete"></fa-icon>
                </button>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary btn-block" (click)="SelecteerBarcieLid(barciedag, barshift.shift)">
            <fa-icon [icon]="user"></fa-icon> Barcielid
            Toevoegen</button>
        </li>
        <li style="padding: 10px;">
          <button type="button" class="btn btn-primary btn-block" (click)="AddShift(barciedag.date)"><fa-icon [icon]="calendar"></fa-icon> Shift toevoegen</button>
        </li>
        <li style="padding: 10px;">
          <button type="button" class="btn btn-danger btn-block" (click)="DeleteBarcieDate(barciedag.date)"><fa-icon [icon]="delete"></fa-icon> Dag
            verwijderen</button>
        </li>
      </ul>
    </tr>
    <tr class="gray-background">
      <td></td>
    </tr>
  </tbody>
</table>

<teamportal-spinner *ngIf="isLoading"></teamportal-spinner>
