<table class="table" *ngFor="let speeldag of speeldagen">
  <thead>
    <tr>
      <th colspan="2">
        <div class="row">
          <div class="col-auto mr-auto" style="line-height: 38px;">
            {{ speeldag.datum }}
          </div>
          <div class="col-auto">
            <div class="input-group col col-md-auto">
              <div class="input-group-prepend">
                <label class="input-group-text">
                  <fa-icon [icon]="icons.zaalwacht"></fa-icon>
                </label>
              </div>
              <div class="input-group-append">
                <button
                  class="btn"
                  (click)="SelecteerZaalwacht(speeldag.datum, speeldag.date)"
                  [ngClass]="{
                    'btn-danger': speeldag.zaalwacht === null,
                    'btn-success': speeldag.zaalwacht
                  }"
                  type="button"
                >
                  {{ speeldag.zaalwacht === null ? '...' : speeldag.zaalwacht }}
                </button>
              </div>
              <div class="input-group-append" *ngIf="speeldag.zaalwacht">
                <label class="input-group-text">
                  <fa-icon [icon]="icons.verwijderen"></fa-icon>
                </label>
              </div>
            </div>
          </div>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let speeltijd of speeldag.speeltijden">
      <td class="align-middle">
        {{ speeltijd.tijd }}
        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let wedstrijd of speeltijd.wedstrijden"
          >
            <h5 class="card-title">{{ wedstrijd.teams }}</h5>
            <div class="row m-1" *ngFor="let taak of taken">
              <div class="input-group">
                <div class="input-group-prepend">
                  <label class="input-group-text">
                    <fa-icon [icon]="icons[taak]"></fa-icon>
                  </label>
                </div>
                <div class="input-group-append">
                  <button
                    class="btn"
                    (click)="
                      SelecteerUitvoerderVanTaak(
                        taak,
                        wedstrijd,
                        speeltijd.tijd
                      )
                    "
                    [ngClass]="{
                      'btn-danger': wedstrijd[taak] === null,
                      'btn-success': wedstrijd[taak]
                    }"
                    type="button"
                  >
                    {{
                      wedstrijd[taak] === null ? 'Kiezen...' : wedstrijd[taak]
                    }}
                  </button>
                </div>
                <div class="input-group-append" *ngIf="wedstrijd[taak]">
                  <button
                    class="btn input-group-text"
                    (click)="DeleteTaak(wedstrijd.id, taak)"
                    type="button"
                  >
                    <fa-icon [icon]="icons.verwijderen"></fa-icon>
                  </button>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
  {{ errorMessage }}
</div>
<app-spinner *ngIf="overzichtLoading"></app-spinner>
