<table class="table table-sm" *ngFor="let wedstrijd of wedstrijden">
  <thead>
    <tr>
      <th colspan="2" scope="col">
        {{wedstrijd.datum}}, {{wedstrijd.tijd}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="wedstrijd.eigenWedstrijden.length > 0" class="gray-background">
      <td colspan="2">
        <app-wedstrijden-card [wedstrijden]="wedstrijd.eigenWedstrijden"></app-wedstrijden-card>
      </td>
    </tr>
    <tr>
      <td>
        <app-wedstrijd [wedstrijd]="wedstrijd"></app-wedstrijd>
      </td>
      <td>
        <app-aanwezigheid [aanwezigheid]="wedstrijd.aanwezigheid"></app-aanwezigheid>
      </td>
    </tr>
    <tr class="gray-background">
      <td colspan="2"></td>
    </tr>
  </tbody>
</table>