<table class="table table-sm" *ngFor="let wedstrijd of wedstrijden">
  <thead>
    <tr>
      <th scope="col">
        {{wedstrijd.datum}}, {{wedstrijd.tijd}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="gray-background">
      <td>
        <ul class="list-group">
          <li *ngIf="wedstrijd.zaalwacht" class="list-group-item">
            Zaalwacht: <span class="badge big-badge badge-success">{{wedstrijd.zaalwacht}}</span>
          </li>
          <li *ngFor="let eigenWedstrijd of wedstrijd.eigenWedstrijden" class="list-group-item" [ngClass]="{'list-group-item-warning': eigenWedstrijd.isMogelijk === null, 
                  'list-group-item-danger': eigenWedstrijd.isMogelijk === false, 'list-group-item-success': wedstrijd.isMogelijk === true}">
            <app-wedstrijd [wedstrijd]="eigenWedstrijd"></app-wedstrijd>
            <div style="font-size: 12px;" class="card-subtitle mb-2 text-muted">
              {{eigenWedstrijd.tijd}}, {{eigenWedstrijd.locatie}}
            </div>
            <p class="card-text">
              <app-scheidsrechter [isScheidsrechter]="eigenWedstrijd.isScheidsrechter" [scheidsrechter]="eigenWedstrijd.scheidsrechter"></app-scheidsrechter>
              <app-tellers [isTellers]="eigenWedstrijd.isTellers" [tellers]="eigenWedstrijd.tellers"></app-tellers>
            </p>
          </li>
        </ul>
      </td>
    </tr>
    <tr class="gray-background">
      <ul class="list-group">
        <li class="list-group-item" [ngClass]="{'list-group-item-warning': wedstrijd.isMogelijk === null, 'list-group-item-danger': wedstrijd.isMogelijk === false, 'list-group-item-success': wedstrijd.isMogelijk === true}">
          <app-wedstrijd [wedstrijd]="wedstrijd"></app-wedstrijd>
          <app-aanwezigheid [aanwezigheid]="wedstrijd.aanwezigheid" (updateAanwezigheid)="UpdateCoachAanwezigheid($event, wedstrijd.id)"></app-aanwezigheid>
        </li>
      </ul>
    </tr>

    <tr class="gray-background">
      <td></td>
    </tr>
</table>
<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
  {{errorMessage}}
</div>
<app-spinner *ngIf="loading"></app-spinner>
