<div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="beschikbaarheid">
  <label ngbButtonLabel [ngClass]="{'btn-success': beschikbaarheid === 'ja', 'btn-light': beschikbaarheid !== 'ja'}">
    <fa-icon [icon]="jaIcon"></fa-icon>
    <input ngbButton type="radio" value="ja">
  </label>
  <label ngbButtonLabel [ngClass]="{'btn-warning': beschikbaarheid === 'misschien', 'btn-light': beschikbaarheid !== 'misschien'}">
    <fa-icon [icon]="misschienIcon"></fa-icon>
    <input ngbButton type="radio" value="misschien">
  </label>
  <label ngbButtonLabel [ngClass]="{'btn-danger': beschikbaarheid === 'nee', 'btn-light': beschikbaarheid !== 'nee'}">
    <fa-icon [icon]="neeIcon"></fa-icon>
    <input ngbButton type="radio" value="nee">
  </label>
</div>