<table class="table table-sm mb-0" *ngFor="let wedstrijd of wedstrijden">
  <thead>
    <tr>
      <th scope="col" colspan="2">
        {{ wedstrijd.datum }}, {{ wedstrijd.tijd }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="align-middle">
        <teamportal-wedstrijd [wedstrijd]="wedstrijd"></teamportal-wedstrijd>
      </td>
      <td style="text-align:right" class="align-middle">
        <teamportal-keuze
          [keuze]="wedstrijd.isAanwezig"
          (updateKeuze)="UpdateAanwezigheid(wedstrijd.id, $event, user)"
        ></teamportal-keuze>
      </td>
    </tr>
    <tr>
      <td colspan="2" *ngIf="wedstrijd.isEigenWedstrijd">
        <div>
          <teamportal-spelers-lijst
            (deleteAanwezigheid)="
              UpdateAanwezigheid(wedstrijd.id, 'Onbekend', $event)
            "
            *ngIf="wedstrijd.coaches.length > 0"
            [spelers]="wedstrijd.coaches"
            title="Coaches"
            class="alert-success"
          ></teamportal-spelers-lijst>

          <div class="alert-succes">Nog geen coach(es)</div>

          <teamportal-spelers-lijst
            (deleteAanwezigheid)="
              UpdateAanwezigheid(wedstrijd.id, 'Onbekend', $event)
            "
            *ngIf="wedstrijd.aanwezigen.length > 0"
            [spelers]="wedstrijd.aanwezigen"
            title="Aanwezigen"
            class="alert-success"
          ></teamportal-spelers-lijst>

          <teamportal-spelers-lijst
            *ngIf="wedstrijd.onbekend.length > 0"
            [spelers]="wedstrijd.onbekend"
            title="Onbekend"
            class="alert-warning"
          ></teamportal-spelers-lijst>

          <teamportal-spelers-lijst
            *ngIf="wedstrijd.afwezigen.length > 0"
            [spelers]="wedstrijd.afwezigen"
            title="Afwezigen"
            class="alert-danger"
          ></teamportal-spelers-lijst>
        </div>
      </td>
    </tr>
    <tr *ngIf="wedstrijd.isEigenWedstrijd">
      <td colspan="2" style="padding: 0px;">
        <teamportal-inval-teams
          (addAanwezigheid)="UpdateAanwezigheid(wedstrijd.id, 'Ja', $event)"
          [teams]="wedstrijd.invalTeams"
        ></teamportal-inval-teams>
      </td>
    </tr>
    <tr class="gray-background">
      <td colspan="2" class="no-border"></td>
    </tr>
  </tbody>
</table>
<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
  {{ errorMessage }}
</div>
<teamportal-spinner *ngIf="loading"></teamportal-spinner>
