<table class="table table-sm mb-0" *ngFor="let dag of dagen">
  <thead>
    <tr>
      <th scope="col" colspan="4">{{dag.datum}}</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let tijdslot of dag.tijdsloten">
      <ng-container *ngIf="tijdslot.type === 'zaalwacht'">
        <tr class="gray-background">
          <td>
            {{tijdslot.tijd}}
          </td>
          <td colspan="3">
            Zaalwacht: <span class="badge big-badge badge-success">{{tijdslot.team}}</span>
          </td>
        </tr>
      </ng-container>
      <ng-container *ngIf="tijdslot.type === 'wedstrijd'">
        <tr>
          <td colspan="4">
            <div style="display: flex;">
              <div style="margin-top: auto;margin-bottom: auto; width: 45px;">
                {{tijdslot.tijd}}
              </div>
              <div style="margin-top: auto;margin-bottom: auto;">
                <app-wedstrijd [wedstrijd]="tijdslot"></app-wedstrijd>
              </div>
              <div style="padding: 10px;margin-top: auto;margin-bottom: auto;" *ngIf="tijdslot.isScheidsrechter">
                <app-scheidsrechter [scheidsrechter]="tijdslot.scheidsrechter" [isScheidsrechter]="tijdslot.isScheidsrechter"></app-scheidsrechter>
              </div>
              <div style="padding: 10px;margin-top: auto;margin-bottom: auto;" *ngIf="tijdslot.isTelteam">
                <app-tellers [telteam]="tijdslot.telteam" [isTelteam]="tijdslot.isTelteam">
                </app-tellers>
              </div>
            </div>
          </td>
        </tr>
        <!-- <tr>
          <td class="align-middle">
            {{tijdslot.tijd}}
          </td>
          <td class="align-middle">
            <app-wedstrijd [wedstrijd]="tijdslot"></app-wedstrijd>
          </td>
          <td class="align-middle">
            <app-scheidsrechter [scheidsrechter]="tijdslot.scheidsrechter" [isScheidsrechter]="tijdslot.isScheidsrechter"></app-scheidsrechter>
          </td>
          <td class="align-middle">
            <app-tellers *ngIf="tijdslot.isTelteam" [telteam]="tijdslot.telteam" [isTelteam]="tijdslot.isTelteam">
            </app-tellers>
          </td>
        </tr> -->
      </ng-container>
    </ng-container>
    <tr class="gray-background">
      <td colspan="4"></td>
    </tr>
  </tbody>
</table>
<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
  {{errorMessage}}
</div>
<app-spinner *ngIf="loading"></app-spinner>