<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
  {{errorMessage}}
</div>
<div class="form-row justify-content-center" style="margin:10px;">
  <form class="form-inline" [formGroup]="newDate">
    <div class="input-group">
      <input class="form-control" placeholder="Nieuwe datum" formControlName="date" (ngModelChange)="onDateSelection($event)"
        name="dp" navigation="arrows" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
          <fa-icon [icon]="calendar"></fa-icon>
        </button>
      </div>
    </div>
  </form>
</div>
<table class="table table-sm" style="margin-bottom: 0px;">
  <tr class="gray-background">
    <td></td>
  </tr>
</table>
<table class="table table-sm" *ngFor="let barcieDag of barcieDagen" style="margin-bottom: 0px;">
  <thead>
    <tr>
      <th scope="col" colspan="3" style="border-bottom: 0px;">{{barcieDag.datum}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let shift of barcieDag.shifts; index as i">
          <h5 class="card-title">Shift {{i + 1}}</h5>
          <div class="row m-1" *ngFor="let barcieLid of shift.barcieLeden">
            <div class="input-group">
              <div class="input-group-prepend">
                <button class="input-group-text" (click)="ToggleBhv(barcieDag, barcieLid, i + 1)">
                  <fa-icon [icon]="barcieLid.isBhv ? bhv: geenBhv"></fa-icon>
                </button>
              </div>
              <div class="input-group-append">
                <button class="btn btn-success" type="button">
                  {{barcieLid.naam}}
                </button>
              </div>
              <div class="input-group-append">
                <button class="input-group-text" (click)="DeleteAanwezigheid(barcieDag, barcieLid, i + 1)">
                  <fa-icon [icon]="delete"></fa-icon>
                </button>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary btn-block" (click)="SelecteerBarcieLid(barcieDag, i + 1)">Barcielid
            Toevoegen</button>
        </li>
        <li style="padding: 10px;">
          <button type="button" class="btn btn-primary btn-block" (click)="AddShift(barcieDag.date)">Shift toevoegen</button>
        </li>
        <li style="padding: 10px;" *ngIf="barcieDag.shifts.length === 1 && barcieDag.shifts[0].barcieLeden.length === 0">
          <button type="button" class="btn btn-danger btn-block" (click)="DeleteBarcieDate(barcieDag.date)">Dag
            verwijderen</button>
        </li>
      </ul>
    </tr>
    <tr class="gray-background">
      <td></td>
    </tr>
  </tbody>
</table>
<app-spinner *ngIf="roosterLoading"></app-spinner>
