<div class="card" [ngClass]="{'border-success': team.isMogelijk === true, 'border-danger': team.isMogelijk === false, 'broder-warning': team.isMogelijk === null}"
  style="margin: 5px;" *ngFor="let team of teams; let i = index;">
  <div class="card-body" style="padding: 7px;">
    <div (click)="isTeamCollapsed[i] = !isTeamCollapsed[i]" *ngIf="team.wedstrijd">
      <fa-icon class="float-right" [icon]="isTeamCollapsed[i] ? uitklappen: inklappen"></fa-icon>

      <app-wedstrijd [wedstrijd]="team.wedstrijd"></app-wedstrijd>

      <div class="team-card-text">
        {{team.wedstrijd.tijd}}, {{team.wedstrijd.locatie}}
      </div>
    </div>

    <div class="card-title" *ngIf="!team.wedstrijd">
      <fa-icon class="float-right" [icon]="isTeamCollapsed[i] ? uitklappen: inklappen"></fa-icon>
      <div (click)="isTeamCollapsed[i] = !isTeamCollapsed[i]" class="team-card-text">
        {{team.naam}} heeft geen wedstrijd
      </div>
    </div>

    <div [ngbCollapse]="isTeamCollapsed[i]" [ngClass]="{'spelerslijst': !isTeamCollapsed[i]}">
      <div class="input-group input-group-sm" *ngFor="let speler of team.spelers">
        <div class="input-group-prepend">
          <button class="btn" type="button" [disabled]="speler.meegespeeldDezeMaand >= 2 || speler.meegespeeldDitJaar >= 11"
            [ngClass]="{'btn-outline-secondary': speler.meegespeeldDezeMaand >= 2 || speler.meegespeeldDitJaar >= 11, 'btn-outline-success': speler.meegespeeldDezeMaand < 2 && speler.meegespeeldDitJaar < 11}">
            <fa-icon [icon]="spelerToevoegen"></fa-icon>
          </button>
        </div>
        <div class="input-group-append">
          <label class="input-group-text btn-sm" style="background-color: white;">
            {{speler.naam + " (" + speler.meegespeeldDezeMaand + "/" + speler.meegespeeldDitJaar + ")"}}</label>
        </div>
      </div>
    </div>
  </div>
</div>