<p>Welkom <span *ngIf="user">{{user.voornaam}}</span>! Hier zie je welke dagen je zaalwacht hebt, wanneer je wedstrijden zijn, wanneer je moet tellen, of je bardiensten hebt en wanneer je moet scheidsen.</p>

<div *ngIf="dagenEmpty; then showInfo else showMijnOverzicht"></div>

<ng-template #showInfo>
    <br>
    <p><em>Je hebt geen aankomende wedstrijden of diensten.</em></p>
    <br>
</ng-template>

<ng-template #showMijnOverzicht>
    <div *ngFor="let dag of dagen" class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ dag.datum_long }}</h5>
            
            <ng-container *ngIf="dag.eersteZaalwacht == user.team.naam">
                <p class="card-text badge rounded-pill bg-primary d-block">
                    <fa-icon [icon]="zaalwacht"></fa-icon> 1e zaalwacht: {{ dag.eersteZaalwacht }}
                </p>
            </ng-container>

            <ng-container *ngIf="dag.bardiensten.length > 0">
                <div *ngFor="let bardienst of dag.bardiensten">
                    <p class="card-text badge rounded-pill bg-primary d-block">
                        <fa-icon [icon]="taskIcon"></fa-icon> Bardienst Shift {{ bardienst.shift }}
                        {{ bardienst.isBhv ? " (BHV)" : "" }}
                    </p>
                </div>
            </ng-container>

            <ng-container *ngFor="let speeltijd of dag.speeltijden">
              <div *ngFor="let wedstrijd of speeltijd.wedstrijden" class="d-flex align-items-center mb-2">
                  <div class="me-2">
                      {{ speeltijd.tijd }}
                  </div>
                  <teamportal-wedstrijd [wedstrijd]="wedstrijd"></teamportal-wedstrijd>
                  <span *ngIf="wedstrijd.scheidsrechter == user.naam" class="badge rounded-pill bg-primary d-sm-block d-md-inline mt-1 mt-md-0 ms-md-2">
                      <fa-icon [icon]="taskIcon"></fa-icon> Scheidsrechter
                  </span>
                  <span *ngIf="wedstrijd.tellers[0] == user.naam || wedstrijd.tellers[1] == user.naam" class="badge rounded-pill bg-primary d-sm-block d-md-inline mt-1 mt-md-0 ms-md-2">
                      <fa-icon [icon]="taskIcon"></fa-icon> Je bent teller deze wedstrijd
                  </span>
                  <teamportal-tellers *ngIf="wedstrijd.isTellers" [tellers]="wedstrijd.tellers" [isTellers]="wedstrijd.isTellers" class="mt-1 mt-md-0">
                  </teamportal-tellers>
              </div>
          </ng-container>

          <ng-container *ngIf="dag.tweedeZaalwacht == user.team.naam">
                <p class="card-text badge rounded-pill bg-primary d-block">
                    <fa-icon [icon]="zaalwacht"></fa-icon> 2e zaalwacht: {{ dag.tweedeZaalwacht }}
                </p>
            </ng-container>
        </div>
    </div>
</ng-template>

<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
    {{ errorMessage }}
</div>

<teamportal-spinner *ngIf="loading"></teamportal-spinner>
