.big-badge{
    font-size: 16px;
}

.past-task {
    color: grey;
  }
  
  .badge {
    background-color: green;
    color: white;
    padding: 3px;
    border-radius: 5px;
  }
  

.future-task {
    display: none;
}